@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

body {
	
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.loaders {
	display: flex;
	justify-content: end;
	align-items: end;
	transform-origin: bottom;
	max-height: 1.5rem;
	min-height: 1.5rem;
}

.loader {
	width: 0.5rem;
	height: 0.8rem;
	background-color: #334155;
	border-radius: 1rem;
	transform-origin: bottom;
}

.loader-1 {
	animation: loaderAnimation 1s 0.8s linear infinite;
}
.loader-2 {
	animation: loaderAnimation 1s 0.4s linear infinite;
}
.loader-3 {
	animation: loaderAnimation 1s 0.2s linear infinite;
}

@keyframes loaderAnimation {
	0%, 100% {
		height: 0.8rem;
	}
	50% {
		height: 1.5rem;
	}
}


* {
	box-sizing: border-box;
	outline: none;
}

th.resizeble {
	resize: horizontal;
}

.scroll-bar::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
  height: 6px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: transparent;     
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #334155;    
  border-radius: 20px; 
}
